

<div class="row">
    <form ng-controller="GetPostController">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="col-md-12" style="margin-left: -8px;">
                <span class="mt15 floatleft navigation-span ml5">All Profiles</span>
                <span class="mt15 floatleft navigation-span ml20">Appointments</span>
                <span class="mt15 floatleft navigation-span ml20">Author</span>
                <hr class="clear mrminus15">
            </div>

            <!-- Blog Entries Column -->
            <div ng-include="'views/sidebar.html'"></div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-9">
                <a href="#!/allcontent"> <p class="previous-posts">Go back to see all posts</p></a>
                <div ng-if="dataLoading" style="width: 40px; position: relative; margin: 30px auto;">
                    <img src="assets/images/loader.gif">
                </div>
                <div class="list-div col-md-12" ng-show="postData.title != null">

                    <p class="listing-title">{{postData.title}}<span class="pbtn-info ml15" style="display: none;">{{ postData.publishStatus}}</span>

                    <div class="btn-group listing-edit-delete" style="float: right;">

                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down listing-edit-delete-icon floatright"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!/content/{{postData.id}}">Edit</a></li>
                            <li><a href="#!/content/{{postData.id}}">Delete</a></li>
                        </ul>

                    </div>

                    </p>
                    <p class="listing-time">{{ postData.createdAt | fromNow }}</p>
                    <div class="mb10"><img src="{{ postData.postUrl }}" style="width: 685px;"></div>
                    <div class="desc" ng-bind-html="postContent"></div>
                    <p>
                        <span class="share-info"><span class="glyphicon glyphicon-heart social-share-icon"></span>Like<span class="social-share-separator">|</span>{{postData.likeCount}}</span>
                        <span class="share-info ml15"><span class="glyphicon glyphicon-comment social-share-icon"></span>Comment<span class="social-share-separator">|</span>{{postData.commentCount}}</span>
                        <span class="share-info ml15"><span class="glyphicon glyphicon-share-alt social-share-icon" ng-click="share()"></span> Share<span class="social-share-separator">|</span>{{postData.shareCount}}</span>
                    </p>
                    <hr>
                    <p class="post-details-viewed">Post has been viewed {{postData.viewCount}} times</p>
                    <hr>
                    <p class="fw4 fs14 post-details-tags">
                        <span class="mr20">Tags</span>
                        <span ng-repeat="tag in postData.tags">
                            <a href="#!/tag/{{tag.id}}" class="post-details-tag-style-link"><span class="post-details-tag-style">{{tag.tagName}} </span></a>
                        </span>
                    </p>
                    <hr class="mrminus10 mlminu10">


                    <div class="comments" ng-repeat="comment in postData.comments">
                        <div class="row mt15">
                            <div class="col-lg-2" style="margin-left: 5px; margin-right: -5px;">
                                <div ng-switch on="{{comment.imageUrl}} || 'null'">
                                    <div ng-switch-when="null">
                                    <!-- code to render a large video block-->
                                        <p>Hi</p>
                                    </div>
                                    <div ng-switch-default>
                                    <!-- code to render the regular video block -->
                                        <p>Hello!</p>
                                    </div>
                                </div>


                                <img class="img-responsive img-circle" src="{{comment.imageUrl}}" width="40" alt="">
                            </div>
                            <div class="col-lg-8 paddingleftzero shdivsp" style="margin-left: -6.33333333%; margin-right: 6.33333333%">
                                <p class="greysdark fw4 fs16">{{comment.name}}</p>
                                <p class="greylight fw3 fs14 mtminus10">{{comment.createdAt | fromNow}}</p>
                            </div>
                            <div class="col-md-1 paddingleftzero">
                                <span class="glyphicon glyphicon-info-sign fs17 greylight floatright"></span>
                            </div>
                            <div class="col-md-1 paddingleftzero">
                                <span class="glyphicon glyphicon-flag fs17 greylight floatright"></span>
                            </div>
                        </div>
                        <p class="fs16 fw4 greydark">{{comment.commentTxt}}</p>
                        <hr>

                    </div>

                    <p ng-show="postData.comments.length == 0">
                        No Comments yet on this  post.
                    </p>
                    <div class="input-group mtminus10" ng-show="postData.comments.length > 0">
                        <input ng-model="postComment" type="text" class="form-control" placeholder="Write a Comment" aria-label="Write a comment..." style="border-right: none; background-color: #f6f6f6; border-radius: 2px;">
                        <span class="input-group-addon btn btn-primary" style="background-color: #f6f6f6; color:#bbb;font-weight:600; border-left: none; border-radius: 2px;" ng-click="postCommentAction()">POST</span>
                    </div>

                </div>



            </div>

        </div>
    </form>
</div>
<!-- /.row -->


    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Footer</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

