<div class="col-md-3" style="margin-left: -8px;">

    <div id="connectLinks">
        <a href="#!/content" class="btn btn-default sdbtn left-sidebar-button mb10 flat-corner blue-button white">Compose<span class="glyphicon glyphicon-pencil white floatright" aria-hidden="true"></span></a>

        <a href="#!/allcontent" class="btn btn-default sdbtn left-sidebar-button flat-corner " ng-click="addClass(); getPostbyFitler('PUBLISHED,UNDER REVIEW,DRAFT');" ng-class="previousPost" data-ng-init="init()" id="previousPost">Previous Posts</a>
        <a href="#!/allcontent" class="btn btn-default sdbtn left-sidebar-button flat-corner open-top" ng-click="addClass(); getPostbyFitler('DRAFT');" ng-class="savedDrafts" data-ng-init="init()" id="savedDrafts">Saved Drafts</a>
        <a href="#!/insights" class="btn btn-default sdbtn left-sidebar-button flat-corner open-top" ng-class="insightsDashboard">Insights Dashboard</a>
        <a href="#!/notification" class="btn btn-default sdbtn left-sidebar-button flat-corner open-top"   data-ng-init="init()" class="notifications" id="notifications">Notifications</a>
        <a href="#!/content" class="btn btn-default sdbtn left-sidebar-button flat-corner open-top" ng-click="addClass()" ng-class="invite">Invite</a>
    </div>

    <div id="socialConnect" class="mt20">
        <p class="sidebar-p">Connect Accounts</p>
        <a href="#!/content" class="btn btn-default sdbtn left-sidebar-button flat-corner mb10">Facebook</a>
        <a href="#!/content" class="btn btn-default sdbtn left-sidebar-button flat-corner">Twitter</a>
    </div>


</div>